<div class="container-fluid mb-5">
  <h1> Enrollment form</h1>
  <form #user="ngForm" (ngSubmit)="onsubmit()"  novalidate>
    {{ user.form.valid }}

    <!-- {{user.value | json}}
    <hr />
    {{userModel | json}} -->


  <div class="form-group" >
<label>Name:</label>
<input type="text" #name="ngModel" class="form-control" [class.is-invalid]="name.invalid && name.touched" name="username" [(ngModel)]="userModel.name" required>
<small class="text-danger" [class.d-none]="name.valid||name.untouched">*Name is required</small>
</div>
  <div class="form-group">
      <label>Email:</label>
      <input type="email" class="form-control" name="email" [ngModel]="userModel.email">
        </div>
        <div class="form-group">
            <label>Phone no:</label>
            <input type="tel" #phone="ngModel" pattern="^[6-9]{1}\d{9}$" class="form-control" [class.is-invalid]="phone.invalid && phone.touched" name="mobile" [(ngModel)]="userModel.phone" required>
            <!-- <small class="text-danger" [class.d-none]="phone.valid||phone.untouched">*Enter valid phone no</small> -->
          <div *ngIf= "phone.errors && (phone.invalid || phone.touched)">
              <small class="text-danger" *ngIf="phone.errors.pattern" >*Enter valid phone no</small>
              <small class="text-danger" *ngIf="phone.errors.required" >* phone no is reqiured</small>

          </div>
          </div>
  <div class="form-group">
    <select (blur)="validatetopic(topic.value)" (change)="validatetopic(topic.value)" #topic="ngModel" [class.is-invalid]="topicHasError && topic.touched" class="custom-select" name="topic" [ngModel]="userModel.topic" >
      <option value="default"> I'm interested in</option>
      <option *ngFor="let topic of topics">{{ topic }}</option>
    </select>
    <small class="text-danger" [class.d-none]=" !topicHasError||topic.untouched" >Please select the topic</small>
  </div>
    <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="timepreference" value="morning" [ngModel]="userModel.timepreference">
        <label class="form-chec-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
          <input type="radio" class="form-check-input" name="timepreference" value="Evening" [ngModel]="userModel.timepreference">
          <label class="form-chec-label">Evening (9AM - 12PM)</label>
        </div>
    </div>
    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" name="check" [ngModel]="userModel.check">
      <label class="form-check-label">Send me promotional offers</label>
    </div>
     <!-- <div ngModelGroup ="address">
      <div class="form-group">
      <label>street:</label>
      <input type="text" class="form-control" name="street" ngModel>
        </div>
  <div class="form-group">
       <label>City:</label>
       <input type="text" class="form-control" name="city" ngModel>
        </div>
  <div class="form-group">
      <label>State:</label>
        <input type="text" class="form-control" name="State" ngModel>
         </div>
  <div class="form-group">
       <label>postal code:</label>
       <input type="text" class="form-control" name="postal code" ngModel>
       </div>
   </div> -->
   <button [disabled]="user.form.invalid || topicHasError" class="btn btn-primary">submit</button>
  </form>
</div>



