<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="thelpathrising" src="../assets/img/1.jpeg">
</div>
<div>
  <h1 class="h1">
      Thelpathrising
      </h1>


<router-outlet></router-outlet>
